@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  margin: 0;
}

:root {
  --clr-b-orange: hsl(31, 77%, 52%);
  --clr-d-cyan: hsl(184, 100%, 22%);
  --clr-vd-cyan: hsl(179, 100%, 13%);
  --clr-tr-white: hsla(0, 0%, 100%, 0.75);
  --clr-vl-gray: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  background-color: white;

  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-tr-white);
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 100px;
  border: 2px solid white;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

button:hover {
  background-color: inherit;
  color: white;
}

.sedan {
  background-color: var(--clr-b-orange);
}

.suv {
  background-color: var(--clr-d-cyan);
}

.luxury {
  background-color: var(--clr-vd-cyan);
}

.attribution {
  background-color: var(--clr-d-cyan);
  font-size: 11px;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
}
.attribution a {
  color: var(--clr-b-orange);
}
